<ion-view title="Uferbewuchs" id="river">

    <ion-content padding="true">

        <p>Beurteile den Bach nach folgenden Kriterien:</p>

        <p>

            <ul>

                <li>
        </p>
        <img src="img/riverGross/8.1.JPG">
        </li>
        <a class="button button-block button-positive" ng-click="speichern(1)" href="#/tab/river9">
                natürlich und vielfältig (Bäume, etc.)
            </a>
        <li>
            </p>
            <img src="img/riverGross/8.2.JPG">
        </li>
        <a class="button button-block button-positive" ng-click="speichern(2)" href="#/tab/river9">
                künstlich angelegt, recht einheitlich 
            </a>
        <li>
            </p>
            <img src="img/riverGross/8.3.JPG">
        </li>
        <a class="button button-block button-positive" ng-click="speichern(3)" href="#/tab/river9">
               fehlend, bewirtschaftete Flächen 
            </a>



        </p>

        <li>
            <div id="speichern">

                <a class="button button-positive" href="#/tab/river7" ng-click="loeschenLandschaft()">Zurück</a>
                <a class="button button-positive" ng-click="Abbrechen()">Abbrechen</a>

            </div>

        </li>

        </ul>

    </ion-content>
</ion-view>
