<ion-view title="Wassertiefen" id="river">

    <ion-content padding="true">

        <p>Beurteile den Bach nach folgenden Kriterien:</p>

        <p>

            <ul>

                <li>
        </p>
        <img src="img/riverGross/3.1.JPG">
        </li>
        <a class="button button-block button-positive" ng-click="speichern(1)" href="#/tab/river4">
                stark wechselnde Wassertiefe
            </a>
        <li>
            </p>
            <img src="img/riverGross/3.2.JPG">
        </li>
        <a class="button button-block button-positive" ng-click="speichern(2)" href="#/tab/river4">
                mindestens im Uferbereich variierend 
            </a>
        <li>
            </p>
            <img src="img/riverGross/3.3.JPG">
        </li>
        <a class="button button-block button-positive" ng-click="speichern(3)" href="#/tab/river4">
               völlig einheitlich 

            </a>



        </p>

        <li>
            <div id="speichern">

                <a class="button button-positive" href="#/tab/river2" ng-click="loeschenLandschaft()">Zurück</a>
                <a class="button button-positive" ng-click="Abbrechen()">Abbrechen</a>
            </div>

        </li>

        </ul>

    </ion-content>
</ion-view>
